$darkblue: #3d5a80;
$blue: #98C1D9;
$lightblue: #E0FBFC;
$orange: #EE6C4D;
$black: #293241;


.messages-container {
    width: 80%;
    margin: 0 auto;
}

.messageform-container {
    margin-bottom: 50px;
    margin-top: 20px;
}

.messageform-container input {
    height: 100px;
    border: 1px solid #ccc;
    width: 94%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.messages-container button {
    display: block;
    float: right;
    color: $darkblue;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.message-item{
      color: $darkblue;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      position: relative;
      background-color: $blue;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $blue;
        border-width: 10px;
        margin-left: -10px;
      }
}

.message-author{
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
    color: $darkblue;
}






