.Select-menu {
    position: fixed !important;
}

.nav-bar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

    img:hover {
        cursor: pointer;
    }
}

.nav-bar-header img {
    width: 30px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container {
    width: 25%;

    input {
        width: 100%;
        height: 36px;
        padding: 0 10px 0 10px;
        border: 1px solid lightgrey;
    }
}

.select-container {
    width: 70%;
}

header {
    width: 100%;
}

@media (max-width: 500px) {
    .nav-bar-header {
        flex-direction: column;
        gap: 10px;
    }

    .search-container {
        width: 100%;
    }
    .select-container {
        width: 100%;
    }
}