$darkblue: #3d5a80;
$blue: #98C1D9;
$lightblue: #E0FBFC;
$orange: #EE6C4D;
$black: #293241;

.leader-board-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background: $darkblue;
    border-radius: 10px;
    box-shadow: 0 7px 30px $blue;
    overflow: scroll;
    margin-top: 20px;
    max-width: 800px;
}

.leader-board-container span {
    font-size: 18px;
    color: white;
    padding: 12px 13px 18px;
    display: flex;
    justify-content: center;
    background-color: $orange;
    letter-spacing: 4px;
    text-align: center;
}

.leader-item{
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 20px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    color: white;
    transition: 0.2s;
}

.leader-item:hover{
    background-color: $blue;
}

.leader-sort{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.leader-sort > button {
    font-size: 12px;
    width: 20%;
    background-color: $blue;
    border: none;
    padding: 7px;
    font: $darkblue;
}

.leader-sort > button:hover{
    cursor: pointer;
    background-color: $lightblue;
}