// dark blue: #3d5a80
// light blue: #98C1D9
// lightest blue: #E0FBFC
// orange: #EE6C4D
// blue: #293241


// body {
//   margin: 0 auto;
//   max-width: 56em;
//   padding: 1em 0;
// }

.content-container.profile-container {
  // margin-bottom: 60px;
}



.profile-container h1 {
  font-size: 24px;
  font-weight: 600;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.bets-container {
  /* Demo-Specific Styles */
  // background: #eaeaea;
  // background:#E0FBFC;
  background-image: linear-gradient(#f75d33, #FE6238, #ec5d35);
  border: 1px solid #c74b12;
  font-weight: 400;
  color:white;
  display: flex;
  flex-direction: column;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.4);
  border-radius: 8px;
  text-decoration: none;
  /* Flex Fallback */
  // margin-left: 5px;
  // margin-right: 5px;
  flex: 1 1 200px;
}

.bets-container:hover{
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// .wagers-container a {
//   text-decoration: none;
//   color: white;
//   &:hover {
//     color: #EE6C4D;
//   }
// }

#bet-status-win {
  background-image: linear-gradient(#3d5a80, #3d5a80, #5074a3);
  border: 1px solid #325077;
}

#bet-status-loss {
  background-image: linear-gradient(#f75d33, #FE6238, #ec5d35);
  border: 1px solid #c74b12;
  color: black;
}

#bet-status-pending {
  background-image: linear-gradient(#98C1D9, #98C1D9, #8bb9d4);
  border: 1px solid #5991b1;
  color: black;
}

.bets-container-top {
    height: 30%;
    width: 100%;
    text-align: center;
}

.bets-container-middle {
    height: 33%;
    width: 100%;
    text-align:center;
}

.bets-container-bottom {
    height: 33%;
    width: 100%;
    text-align: center;
}

.bottom-card-left {
  width: 50%;
  // height: 100%;
  text-align: center;
}

.bottom-card-right {
  width: 50%;
  // height: 100%;
  text-align:center;
}


/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .wagers-container {
    margin: 0;
  }
}

.profile-basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  object-fit: cover;
  border: 4px solid #98c1d9; 
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-bets {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  height: 300px;
  padding: 0 20px 0 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #325077;
  color: white;

  a {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    width: 170px;
    height: 40px;
    background-color: #98C1D9;
    border: 1px solid #3c7494;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background-color: #EE6C4D;
      border: 1px solid #ac472e;
      color: white;
    }
  }

  .message {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  .shrug {
    font-size: 60px;
  }
}