// dark blue: #3d5a80
// light blue: #98C1D9
// lightest blue: #E0FBFC
// orange: #EE6C4D
// blue: #293241


body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.bets-container {
  /* Demo-Specific Styles */
  // background: #eaeaea;
  background:#E0FBFC;
  color:#3d5a80;
  display: flex;
  flex-direction: column;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  
  /* Flex Fallback */
  // margin-left: 5px;
  // margin-right: 5px;
  flex: 1 1 200px;
}

// .wagers-container a {
//   text-decoration: none;
//   color: white;
//   &:hover {
//     color: #EE6C4D;
//   }
// }

.bets-container-top {
    height: 30%;
    width: 100%;
    text-align: center;
}

.bets-container-middle {
    height: 33%;
    width: 100%;
    text-align:center;
}

.bets-container-bottom {
    height: 33%;
    width: 100%;
    text-align: center;
}

.bottom-card-left {
  width: 50%;
  height: 100%;
  text-align: center;
}

.bottom-card-right {
  width: 50%;
  height: 100%;
  text-align:center;
}


/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .wagers-container {
    margin: 0;
  }
}

.profile-basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  object-fit: cover;
  border: 4px solid #98c1d9; 
}